# PCL启动器部分文件
PCL/log*.txt
PCL/Music
PCL/Pictures

# 日志文件
.minecraft/logs

# 崩溃报告
.minecraft/crash-reports

# 存档
.minecraft/saves

# masa的部分mod的临时文件
.minecraft/config/litematica
.minecraft/config/minihud

# 打包的客户端文件
skimit*.zip
skimit*.7z
skimit*.tmp

# replaymod录像文件
.minecraft/replay_recordings

# 可以自动生成的
.minecraft/assets
.minecraft/libraries
.minecraft/*.png
.minecraft/realms_persistence.json
.minecraft/.fabric
.minecraft/.mixin.out
*.dll

# 其他东西
*文件名.bat
*文件名.txt
