# PCL启动器部分文件
PCL/log*.txt  
PCL/Music  
PCL/Pictures  

# 日志文件
.minecraft/logs/

# 崩溃报告
.minecraft/crash-reports/

# 存档
.minecraft/saves/

# 被禁用的mod
.minecraft/mods/*.disabled

# 资源文件
.minecraft/assets/

# 打包好的客户端文件
skimit*.zip

# 其他东西
.minecraft/*.png  
.minecraft/realms_persistence.json  
.exe可能会被误报病毒，可使用.jar的启动器.txt
有用的资源的网址.docx
请先下载安装64位Java 下载地址在此.txt
